<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%- include('./partials/bootstrap.ejs') %>
  <title>Product Details</title>
</head>

<body>
  <%- include('./partials/navbar.ejs') %>
  <div class="wrapper card p-5 shadow-lg container container-sm mt-5">
    <p class="card-title display-6"><%= product.name %></p>
    <div class="card-body d-flex justify-content-center align-items-center">
      <img src="<%= product.img_url %>" class="img flex-fill object-fit-contain w-100" alt="" style="height: 250px; aspect-ratio: 1/1;">
      <div class="description-wrapper d-flex flex-column shadow-lg p-3 rounded rounded-3 flex-fill w-100 ">
        <p class="fw-bold">Description</p>
        <div class="description"><%= product.description %></div>
      </div>
    </div>
  </div>
</body>

</html>