<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%- include('./partials/bootstrap.ejs') %>
  <title>Error</title>
</head>

<body>
  <%- include('./partials/navbar.ejs') %>
  <div class="error-wrapper d-flex flex-column gap-3 text-center">
    <p class="h1"> <%= error.statusCode %> </p>
    <p class="h3 fw-bold"> <%= error.message %></p>
    <p class="fw-bold"> <%= error.stack %></p>
  </div>
</body>

</html>